@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import './variables.css';

/* 
main {
  max-width: 48em;
}

h1 {
  color: var(--p-cyan-600);
} */

.capitalize {
  text-transform: capitalize;
}

.w-full {
  width: 100%;
}

.ok {
  color: var(--green-600) !important;
}

.not-ok {
  color: var(--red-500) !important;
}

button:not(.btn-primary):not(.p-button-danger) {
  color: var(--primary-600) !important;
}

button {
  font-size: 1rem;
}
